django~=4.2
django-widget-tweaks~=1.4
django-debug-toolbar~=3.8
django-tailwind~=3.4
django-browser-reload~=1.6
whitenoise~=6.2
django-extensions~=3.2
gunicorn~=20.1
django-htmx~=1.13
django-unicorn~=0.51
