{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Django Tailwind</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block javascript_and_css %}
        {% block css %}
            {% tailwind_preload_css %}
            {% tailwind_css %}
        {% endblock %}
        {% block javascript %}
            <script src="//unpkg.com/htmx.org" defer></script>
            <script src="//unpkg.com/alpinejs" defer></script>
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
{% block header %}{% endblock %}
{% block main %}
    <div class="bg-gray-50 font-serif leading-normal tracking-normal">
        <div class="container mx-auto">
            <section class="flex items-center justify-center h-screen">
                <h1 class="text-5xl text-black">Django + Tailwind = ❤️</h1>
            </section>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% endblock %}
</body>
</html>
