<div>
    <form unicorn:submit.prevent="add">
      <input type="text"
        unicorn:model.defer="task"
        unicorn:keyup.escape="task=''"
        placeholder="New task" id="task">
    </form>
    <button unicorn:click="add">Add</button>
    <button unicorn:click="$reset">Clear all tasks</button>

    <p>
      {% if tasks %}
        <ul>
          {% for task in tasks %}
            <li>{{ task }}</li>
          {% endfor %}
        </ul>
      {% else %}
        No tasks 🎉
      {% endif %}
    </p>
  </div>
