{% extends 'base.html' %}
{% load unicorn %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block main %}

    <main class="container" x-data="{ text: ''}">

        <div class="grid">

            <div>
                <input type="text" x-model="text" placeholder="type something here">
                <article x-text="text"></article>
            </div>

            <div>
                {% unicorn 'todo' %}
            </div>

        </div>

    </main>


{% endblock %}
